h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	margin: 0;
	height: 100%;
	line-height: 1;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
}

.header .header-container {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color: #faebd7;
}

.header a:hover {
	color: #ffffff;
}

header.sticky {
	backdrop-filter: blur(7px);
}

.main {
	flex: 1 1 auto;
}

.main .banner {
	height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.banner .left-part {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-content {
	width: 550px;
	height: 340px;
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(156, 174, 114, 0.6);
	box-shadow: 10px 5px 27px 0 rgba(123, 139, 85, 0.75);
}

.banner-content:hover {
	background-color: rgb(156, 174, 114, 0.9);
	box-shadow: 10px 5px 27px 0 rgba(108, 122, 73, 0.75);
}

.banner-content .banner-title {
	margin-left: 25px;
	font-size: 30px;
	line-height: 2rem;
	font-weight: 700;
}

.banner-content .banner-subtitle {
	margin-left: 25px;
	font-size: 22px;
	line-height: 1.5rem;
	font-weight: 700;
}

.banner .right-part {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner .right-part .woman-img {
	width: 100%;
}

.footer {
	background-color: black;
	color: #faebd7;
	padding: 30px;
	text-align: center;
}

.about-section {
	height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
	cursor: default;
}

.about-img {
	max-height: 800px;
	width: 100%;
}

.about-img img {
	transform: scaleX(-1);
}

.about-text {
	max-width: 650px;
}

.about-text h4 {
	margin: 10px 0;
	color: black;
	font-size: 20px;
	font-weight: 700;
}

.about-text h2 {
	font-size: 32px;
	font-weight: 600;
}

.about-text p {
	color: black;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 2rem;
}

.about-gri {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 1rem;
}

.about-in h5 {
	font-size: 18px;
	font-weight: 600;
	height: 5px;
}

.services-section {
	height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
}

.service-title h2 {
	font-size: 50px;
	color: #2a3a05;
	width: 100%;
	margin: 30px auto;
}

.services-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 365px;
	max-width: 335px;
	padding: 20px 35px;
	border-radius: 10px;
	background-color: rgb(156, 174, 114, 0.6);
	box-shadow: 10px 5px 27px 0 rgba(123, 139, 85, 0.75);
	margin: 0 25px;
	text-align: center;
	cursor: pointer;
}

.card:hover {
	transform: scale(1.01) translateY(-5px);
}

.card h5 {
	font-weight: 700;
	color: #2a3a05;
}

.card:hover h5 {
	font-weight: 700;
	color: #000000;
}