h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	margin: 0;
	height: 100%;
	line-height: 1;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
}

.header .header-container {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header img {
	width: 30px;
	cursor: pointer;
	display: none;
}

.header a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color: #faebd7;
}

.header a:hover {
	color: #ffffff;
}

header.sticky {
	backdrop-filter: blur(7px);
}

.nav-bar a {
	padding: 7px;
	border-radius: 5%;
}

.nav-bar a:hover {
	background-color: #475e12;
}

.main {
	flex: 1 1 auto;
}

.main .banner {
	height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.banner .left-part {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-content {
	width: 580px;
	height: 340px;
	padding: 20px;
	padding-right: 28px;
	border-radius: 10px;
	background-color: rgb(156, 174, 114, 0.6);
	box-shadow: 10px 5px 27px 0 rgba(123, 139, 85, 0.75);
}

.banner-content * {
	cursor: default !important;
}

.banner-content:hover {
	background-color: rgb(156, 174, 114, 0.9);
	box-shadow: 10px 5px 27px 0 rgba(108, 122, 73, 0.75);
}

.banner-content .banner-title {
	font-family: 'Century Gothic Bold Italic';
	font-size: 30px;
	line-height: 2rem;
	color: #2a3a05;
	margin-left: 25px;
}

.banner-content:hover .banner-title {
	color: #000;
}

.banner-content .banner-subtitle {
	font-family: 'Century Gothic Regular';
	margin-left: 25px;
	font-size: 22px;
	line-height: 1.5rem;
	font-weight: 700;
}

.banner .right-part {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner .right-part .woman-img {
	width: 100%;
}

.footer {
	background-color: black;
	color: #faebd7;
	padding: 30px;
	text-align: center;
}

.about-section {
	height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
	cursor: default;
}

.about-img {
	max-height: 800px;
	width: 100%;
}

.about-img img {
	transform: scaleX(-1);
}

.about-text {
	max-width: 650px;
}

.about-text h2 {
	font-family: 'Century Gothic Bold Italic';
	font-size: 38px;
	color: #2a3a05;
}

.about-text h4 {
	font-family: 'Century Gothic Bold';
	font-size: 24px;
	color: #2a3a05;
	margin: 10px 0;
}

.about-text:hover h2 {
	color: #000;
}

.about-text:hover h4 {
	color: #000;
}

.about-text p {
	font-family: 'Century Gothic Bold';
	font-size: 18px;
	line-height: 30px;
}

.about-list {
	display: flex;
	flex-direction: column;
}

.about-in h5 {
	margin: 0;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
}

.services-section {
	height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 100px;
	padding-top: 8%;
	box-sizing: border-box;
}

.service-title h2 {
	font-family: 'Century Gothic Bold';
	font-size: 55px;
	color: #2a3a05;
	width: 100%;
	margin: 30px auto;
	cursor: default;
}

.service-title:hover h2 {
	color: #000;
}

.services-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.service-card {
	height: 365px;
	max-width: 335px;
	padding: 20px 35px;
	border-radius: 10px;
	background-color: rgb(156, 174, 114, 0.6);
	box-shadow: 10px 5px 27px 0 rgba(123, 139, 85, 0.75);
	margin: 0 25px;
	text-align: center;
	cursor: pointer;
}

.service-card:hover {
	transform: scale(1.01) translateY(-5px);
}

.service-card h5 {
	font-family: 'Century Gothic Bold';
	color: #2a3a05;
}

.service-card:hover h5 {
	font-weight: 700;
	color: #000000;
}

.projects-section {
	main-height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 100px;
	box-sizing: border-box;
	padding-bottom: 50px;
}

.projects-title h2 {
	font-family: 'Century Gothic Bold';
	font-size: 55px;
	color: #2a3a05;
	width: 100%;
	margin: 30px auto;
	cursor: default;
}

.projects-title:hover h2 {
	color: #000;
}

.projects-box {
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	flex-wrap: wrap;
}

.project-card {
	height: 400px;
	width: 350px;
	border-radius: 15px;
	background-color: rgb(156, 174, 114, 0.6);
	box-shadow: 10px 5px 27px 0 rgba(123, 139, 85, 0.75);
	margin: 25px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.project-card:hover {
	transform: scale(1.01) translateY(-5px);
}

.project-explain {
	padding: 10px;
}

.project-image {
	height: 210px;
	display: flex;
	align-items: center;
	background-color: #9cae72;
	border-radius: 10px 10px 0 0;
}

.project-image img {
	width: 100%;
}

.project-title {
	font-family: 'Century Gothic Bold';
	font-size: 21px;
	color: #2a3a05;
}

.project-card:hover .project-title {
	color: #000;
}

.project-description {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 400;
}

.contacts-section {
	height: 100vh;
	background-image: linear-gradient(to right top, #bbb7ae, #b9b39d, #b3b18d, #a9af7f, #9cae72);
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding: 50px 15%;
	box-sizing: border-box;
}

.contacts-title h2 {
	font-family: 'Century Gothic Bold';
	font-size: 55px;
	color: #2a3a05;
	cursor: default;
}

.contacts-title:hover h2 {
	color: #000;
}

.contacts-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.contacts-part {
	width: 100%;
}

.contacts-subtitle {
	font-family: 'Century Gothic Bold';
	font-size: 30px;
	color: #2a3a05;
	cursor: default;
}

.contacts-subtitle:hover {
	color: #000;
}

.contacts-item {
	font-family: 'Century Gothic Bold';
	font-size: 20px;
	margin: 0;
	margin-top: 10px;
}

.contact-form {
	width: 100%;
}

.contact-form form {
	position: relative;
}

.contact-form form input, form textarea {
	border: none;
	outline: none;
	width: 100%;
	max-width: 700px;
	padding: 18px;
	background: #9cae72;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}

.contact-form textarea {
	max-height: 200px;
	resize: none;
}

.contact-form form .send-button {
	width: 250px;
	background-color: #000;
	color: #9cae72;
	cursor: pointer;
}

.contact-form form .send-button:hover {
	width: 260px;
	background-color: #000;
	color: #fff;
	transform: scale(1.01) translateY(-5px) translateX(-5px);
}

@media (max-width: 720px) {

	.header img {
		display: initial;
	}

	.header .nav-bar {
		position: absolute;
		padding: 10px;
		top: 55px;
		right: 29px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		height: 180px;
		width: 40vw;
		background-color: rgba(156, 174, 114, 0.9);
	}
}